<div class="col-md-4">
    <div class="card my-4">
        <h5 class="card-header">Теги</h5>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    {% for mt in common_tags %}
                        <a class="m-2 badge badge-dark" href="{% url 'tag' mt.slug %}">{{ mt }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="card my-4">

        <h5 class="card-header">Последние статьи</h5>
        {% for last_post in last_posts %}
            <div class="card-body">
                <h5 class="card-title">{{ last_post.h1 }}</h5>
                <p class="card-text">{{ last_post.description|safe|truncatechars_html:50 }}</p>
                <a href="{% url 'post_detail' last_post.url %}" class="card-link">Ссылка на статью</a>
            </div>
            <hr />
        {% endfor %}

    </div>
</div>
