<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <span class="text-muted" style="margin-bottom: 0">Агентство по разработке потрясных сайтов на bootstrap,
                    drf и nuxtJS.
                    А это просто наш блог.</span>
            </div>
            <div class="col-md-4">
                <p class="float-right" style="margin-bottom: 0">
                    <a href="#">Наверх</a>
                </p>
            </div>
        </div>
    </div>
</footer>
